@import "includes/_roboto";
@import "material-design-lite/src/_color-definitions";
@import "includes/_variables";

@import "material-design-lite/src/typography/_typography";
@import "material-design-lite/src/button/_button";

@import "includes/_typography";
@import "includes/_mixins";


body, p {
  font-size: 13px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
  margin-bottom: 16px;

  // headlines in select menu
  .cke_panel_listItem & {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0;
  }

}

h1 {
  font-size: 30px;
  .cke_panel_listItem & {
    font-size: 18px;
    font-weight: 300
  }

}

h2 {
  font-size: 23px;
  .cke_panel_listItem & {
    font-size: 15px;
  }
}

h3 {
  font-size: 20px;
  .cke_panel_listItem & {
    font-size: 14px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

.subhead, .mdl-typography--subhead {
  font-size: 14px;
}

.mdl-button {
  cursor: text;
}


.cke_toolbox {

}
