.mdl-chip {
  color: $chip-color;
}

.list-chips {
  padding: 0;

  .mdl-chip {
    @include set-responsive-gutter-space(margin-right);
    @include set-responsive-gutter-space(margin-bottom);
  }
}


