.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery { @include set-responsive-gutter-space(margin-bottom); }
.ce-intext.ce-right .ce-gallery { @include set-responsive-gutter-space(margin-left); }
.ce-intext.ce-left .ce-gallery { @include set-responsive-gutter-space(margin-right); }
.ce-below .ce-gallery { @include set-responsive-gutter-space(margin-top); }
.ce-column { @include set-responsive-gutter-space(margin-right); }
.ce-row { @include set-responsive-gutter-space(margin-bottom); }

img, video {
  max-width: 100%;
  height:   auto;
}

@media (max-width: $grid-tablet-breakpoint - 1) {
  .ce-intext .ce-gallery {
    float: none;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

figure {
  margin: 0;
}


.ce-gallery {
  .ce-inner[class*="flex-layout--col-"] {
    > * {
      padding: 0;

      > * {
        padding-bottom: $grid-phone-gutter;
        display: block;
      }
    }

    @media (min-width: $grid-tablet-breakpoint) {
      margin-left: -($grid-tablet-gutter / 2);
      margin-right: -($grid-tablet-gutter / 2);
      > * > * {
        padding: 0 ($grid-tablet-gutter / 2) $grid-tablet-gutter;
      }
    }

    @media (min-width: $grid-desktop-breakpoint) {
      margin-left: -($grid-desktop-gutter / 2);
      margin-right: -($grid-desktop-gutter / 2);

      > * > * {
        padding: 0 ($grid-desktop-gutter / 2) $grid-desktop-gutter;
      }
    }
  }

  figcaption {
    display: block;
  }
}


.frame-indent-left {
  @media (min-width: $grid-desktop-breakpoint) {
    margin-left: 50%;
  }
}