.mdl-textfield {
    display:  block;
}


.frame-type-form_formframework {
  @extend .mdl-card, .mdl-card__supporting-text;
  @include shadow-2dp() ;
  width:  100%;
}

#form-contact {
    // margin: auto;
    width:  600px;
    max-width: 100%;

    .mdl-textfield {
        width: 100%;
    }

    .actions {
        margin-top:    $card-vertical-padding;
    }
}
