.container {
  @include container-padding();
  margin-right: auto;
  margin-left: auto;
  max-width: $container-width;

  &.sm{ max-width:  800px }
  &.md{ max-width:  925px }
  &.lg{ max-width: 1200px }
  &.xl{ max-width: 1440px } 
}



/**
 * create flex-layout classes for different col numbers
 */


.flex-layout--col-2 {
  @include flex-layout(2);
}

@for $i from 3 through 8 {
  .flex-layout--col-#{$i} {
    @include flex-layout($i, ceil($i / 2));
  }
}