section.hero {
  .hero-media {
    width: 100%;
    height: auto;
  }

  .hero-video {
    // "crop" video left and right in small screens
    min-width: 600px;
    @media (max-width: 599px) {
      position: relative;
      margin-left: 50%;
      right: 300px;
    }
  }

}