.languagemenu {
  .languagemenu-item {
    display: inline-block;
    list-style-type: none;

    @include typo-body-1(true);

    a {
      color: $layout-header-text-color;

      .mdl-layout__drawer & {
        color: $layout-text-color;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:after {
      content: '|';
    }
    &:last-of-type:after {
      content: '';
    }


  }
}

.language-link.mdl-button {
  .mdl-layout__header & {
    line-height: 39px;
    color: rgba($layout-header-text-color, 0.87);
    @media (min-width: $layout-screen-size-threshold) {
      &:before {
        content: '|';
        position: relative;
        right: 19px;
        opacity: 0.5;
      }
    }
  }
}
