body {
  background: $color-background;
  color: $text-color-primary;
}


// tablet and phone
@media (max-width: $grid-desktop-breakpoint - 1) {
  .mdl-layout__content {
    padding-top: $section-space / 2;
  }
  footer {
    margin-top: $section-space / 2;
  }
}
// desktop
@media (min-width: $grid-desktop-breakpoint) {
  .mdl-layout__content {
    padding-top: $section-space;
  }
  footer {
    margin-top: $section-space;
  }
}


.layout-withHero {
  @include layout-header-transparent();
}


.mdl-layout__title a {
  color: inherit;
  text-decoration: none;
}


/**
 * Header, Drawer
 */

.mdl-layout__header {
  display: flex;
  background: $layout-header-bg-color;
  @include shadow-2dp();
}

.mdl-layout__drawer-button {
  color: $layout-header-text-color;
}

@media screen and (max-width: $layout-screen-size-threshold) {
  .mdl-layout__header-row .mdl-navigation__link {
    display: none;
  }

  .mdl-layout--no-drawer-button .mdl-layout__header-row {
  	padding-left: $layout-header-desktop-indent + $layout-header-mobile-indent ;
  }

}


.frame-layout-1 {
  .ce-bodytext, > ul{
    @media (min-width: $grid-tablet-breakpoint) {
      columns: 2;
    }
    @include set-responsive-gutter-space(column-gap);
  }
}

.frame-header-left {
  @include flex-layout(2,1);

  padding-top: 48px;

  > * {
    padding-bottom: 48px;
  }

  header > * {
    margin-top: 0;
  }

  .ce-bodytext {
    h1, h2, h3, h4, h5, h6{
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .ce-bullets {
    margin: 0;
  }

  .mdl-list {
    .mdl-list__item:first-of-type {
      padding-top: 0;
    }
  }
}


::selection {
  background: unquote("rgba(#{$color-primary},0.5)");
}

::selection:window-inactive {
  background: unquote("rgba(#{$color-primary},0.3)");
}

::-moz-selection {
  background: unquote("rgba(#{$color-primary},0.5)");

}