@import "material-design-lite/src/list/_list";

.mdl-list__item {
  line-height: 1.4;
}

.ce-bodytext {
  > ul {
    @extend .mdl-list;
    > li {
      @extend .mdl-list__item;
      color: inherit;
      display: list-item;
    }
  }
}