@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
//  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
  src: url(../Fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../Fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../Fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../Fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}
