footer {
	@include change-link-color(inherit, $text-link-color);

	& a.active {
		color: inherit !important;
	}
}

@media screen and (max-width: 760px) {
  .mdl-mini-footer {
  	padding: $padding;
  }

  .mdl-logo {
  	display: none;
  }

  .mdl-mini-footer__link-list {
  	display: block;
	
		li { 
			line-height: $footer-btn-size;
		}


  }
}