/**
 * Responsive spacing
 */

@mixin set-responsive-gutter-space($attribute) {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    #{$attribute}:  $grid-phone-gutter;
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    #{$attribute}:  $grid-tablet-gutter;
  }
  @media (min-width: $grid-desktop-breakpoint) {
    #{$attribute}:  $grid-desktop-gutter;
  }
}

@mixin set-responsive-margin-space($attribute) {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    #{$attribute}:  $grid-phone-margin;
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    #{$attribute}:  $grid-tablet-margin;
  }
  @media (min-width: $grid-desktop-breakpoint) {
    #{$attribute}:  $grid-desktop-margin;
  }
}



/**
 * grid
 */

@mixin container-padding() {
  @include set-responsive-margin-space($attribute: 'padding-left');
  @include set-responsive-margin-space($attribute: 'padding-right');
}


@mixin flex-layout($columns, $columns-tablet: $columns) {
  > * {
    padding-bottom: $grid-phone-gutter;
  }
  
  @media (min-width: $grid-tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;


    > * {
      flex-grow: 1;
      padding-bottom: $grid-tablet-gutter;
      > * {
        padding-left:  $grid-tablet-gutter / 2;
        padding-right: $grid-tablet-gutter / 2;
      }
      
      max-width: (100% / $columns-tablet);

      @media (min-width: $grid-desktop-breakpoint) {
        max-width: (100% / $columns);
        padding-bottom: $grid-desktop-gutter;
        > * {
          padding-left:  $grid-desktop-gutter / 2;
          padding-right: $grid-desktop-gutter / 2;
        }
      }
    }

    margin-left: -$grid-tablet-gutter /2 ;
    margin-right: -$grid-tablet-gutter /2;

    @media (min-width: $grid-desktop-breakpoint) {
      margin-left: -$grid-desktop-gutter /2 ;
      margin-right: -$grid-desktop-gutter /2;
    }

    //@media (min-width: $container-width + ($grid-desktop-margin*4)) {
    //  // Drop padding of container if wrapped
    //  // or flex-layout is direct child of container
    //  &.container, .container > &  {
    //    padding-left: 0;
    //    padding-right: 0;
    //  }
    //}
  }
}

/**
 * Layout
 */

@mixin layout-header-transparent() {

  @media screen and (min-width: $layout-screen-size-threshold + 1px) {
    .mdl-layout__header {
      background: none !important;
      box-shadow: none !important;
    }
  }

  .mdl-layout__content {
    padding-top: 0;
    @media screen and (min-width: $layout-screen-size-threshold + 1px) {
      margin-top: -$layout-desktop-header-height;

      // adding srim under header
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: $layout-desktop-header-height*4;
        @include scrims-tobottom(.6);

        pointer-events: none;
      }
    }
   }
}

/**
 * scrims
 */

// Create gradients as to make typography legible on top of image
@mixin scrims-totop($opacity: 0.6) {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+70,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,$opacity/2) 70%, rgba(0,0,0,$opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,$opacity/2) 70%,rgba(0,0,0,$opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,$opacity/2) 70%,rgba(0,0,0,$opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
@mixin scrims-tobottom($opacity: 0.6) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.5+30,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,$opacity) 0%, rgba(0,0,0,$opacity/2) 30%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,$opacity) 0%,rgba(0,0,0,$opacity/2) 30%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,$opacity) 0%,rgba(0,0,0,$opacity/2) 30%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}



/**
 * 
 */

 @mixin change-link-color($link-color: $text-link-color, $hover-color: fade($text-link-color, 80%), $hover-text-decoration: none) {
  a, a:visited {
    color: $link-color;

    &:hover, &:focus, &:active, &.active {
      color: $hover-color;
      text-decoration: $hover-text-decoration;
    }
  }
}