/* ==========  Custom Variables  ========== */
$layout-nav-sub-bg-color: $layout-drawer-bg-color;


.mdl-navigation__link:hover{
  text-decoration: none;
  & .mdl-navigation--item:not(.has-sub){
    opacity: 1;
  }
}

.mdl-navigation {

  .mdl-navigation--item {
    position: relative;
  }


  .sub {
    margin: 0;
    padding: 0;

    > li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .mdl-navigation__link {
      @media screen and (max-width: $layout-screen-size-threshold) {
        padding: 10px $layout-header-mobile-indent 10px $layout-header-mobile-indent*2;
      }

    }
  }


  @media screen and (min-width: $layout-screen-size-threshold + 1px) {
    .sub {
      opacity: 0;
      top: 100%;
      position: absolute;
      background: $layout-nav-sub-bg-color;
      min-width: 250px;
      // @include material-animation-default();
      // transition-property: opacity;
      // box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
      pointer-events: none;
      .mdl-navigation__link {
        color: $layout-drawer-navigation-color;
      }

      // &:hover {
      //   opacity: 1;
      //   pointer-events: all;
      // }
    }
    .mdl-navigation--item {
      position: relative;

      &:before {
        bottom: 0;
        // box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
        content: '';
        left: 0px;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 15px;
        // @include material-animation-default();
        background: $layout-nav-sub-bg-color;
        pointer-events: none;
      }

      // @include material-animation-default();
      // transition-property: background-color, color;

      &.has-sub:hover {
        // .mdl-navigation__link {
        //   @include material-animation-default();
        //   transition-property: background-color, color;
        // }

        &:before {
          opacity: 1;
        }

        & > .mdl-navigation__link {
          // opacity: 1;
          // background: $layout-nav-sub-bg-color;
          color: $text-link-color;
        }

        .sub {
          opacity: 1;
          pointer-events: all;

          .mdl-navigation__link:hover {
            background-color: $layout-nav-color;
          }
        }
      }
    }

    .mdl-layout__header-row .has-sub > .mdl-navigation__link:hover {
      color: $text-link-color;
      // background-color: transparent;
    }

  }



}
