a {
  text-decoration: none;
  font-weight: inherit;
}

a:hover {
  text-decoration: underline;
}

a.mdl-button:hover {
  text-decoration: none;
}


/**
 * Headlines
 */

.mdl-typography--display-4 {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil(112px/2.7);
    font-weight: 200;
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil(112px/1.8);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: 112px;
  }
  margin-top: 48px;
  font-weight: 100;
}

h1, .mdl-typography--display-3  {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil($font-size-h1/1.8);
    font-weight: 300;
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil($font-size-h1/1.4);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: $font-size-h1;
  }
  margin-top: 48px;
  font-weight: 200;
}

h2, .mdl-typography--display-2 {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil($font-size-h2/1.5);
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil($font-size-h2/1.2);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: $font-size-h2;
  }
  margin-top: 48px;
  font-weight: 300;
}

h3, .mdl-typography--display-1 {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil($font-size-h3/1.5);
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil($font-size-h3/1.2);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: $font-size-h3;
  }
  margin-top: 48px;
  font-weight: 400;
}

h4, .mdl-typography--headline {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil($font-size-h4/1.2);
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil($font-size-h4/1.2);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: $font-size-h4;
  }
  margin-top: 48px;
  font-weight: 400;
}

h5, .mdl-typography--title {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    font-size: ceil($font-size-h5/1.2);
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    font-size: ceil($font-size-h5/1.2);
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: $font-size-h5;
  }
  margin-top: 48px;
  font-weight: 400;
}

h1, h2, h3, h4, h5 ,h6 {
  a:hover {
    text-decoration: none;
    color: unquote("rgba(#{$color-accent}, 0.85)") ;
  }
}

.subhead {
  @extend .mdl-typography--subhead;
}