/* ==========  Color & Themes  ========== */
$color-primary: $palette-blue-grey-500 !default;
$color-primary-dark: $palette-blue-grey-700 !default;
$color-accent: $palette-blue-A200 !default;



/* ==========  Layout  ========== */
// Header
$layout-header-text-color: #fff;
$layout-header-nav-hover-color: darken($layout-header-text-color, 15%) ;
$color-background: white !default;


/* ==========  Text fields  ========== */
$input-text-highlight-color: unquote("rgb(#{$color-accent})");

/* CHIP */
$chip-color: rgba(0,0,0,0.87);


// Grid
$container-width: 1140px;
$section-space: 80px;


// Headlines
$font-size-h1: 56px !default;
$font-size-h2: 45px !default;
$font-size-h3: 34px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;



/**
 * Photoswipe
 */
$pswp__show-hide-transition-duration: 180ms;
$pswp__controls-transition-duration: 180ms;
//$pswp__background-color: unquote("rgb(#{$palette-grey-900})");
$pswp__placeholder-color: unquote("rgb(#{$palette-grey-900})");;
$pswp__assets-path: '../Images/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: unquote("rgb(#{$palette-grey-500})"); // "Image not loaded" text color
//$pswp__include-minimal-style: true !default;
