<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div id="{element.uniqueIdentifier}" class="inputs-list">
			<div class="form-group">
				<f:for each="{element.properties.options}" as="label" key="value">
					<div class="form-check">
						<label class="form-check-label mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<f:form.radio
								property="{element.identifier}"
								class="{element.properties.elementClassAttribute} form-check-input mdl-radio__button"
								value="{value}"
								errorClass="{element.properties.elementErrorClassAttribute}"
								additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
							/>
							<span>{formvh:translateElementProperty(element: element, property: 'options.{value}')}</span>
						</label>
					</div>
				</f:for>
			</div>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
