{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.languageMenu
  defaultIsoFlag="de"
  defaultLanguageLabel="Deutsch"
  hideNotTranslated="true">

    <f:if condition="{languageMenu -> f:count()} == 2">
        <f:then>
            <f:if condition="{languageMenu.0.current}">
                <f:then>
                    <f:render section="language-link" arguments="{languageMenuitem: languageMenu.1}" />
                </f:then>
                <f:else>
                    <f:render section="language-link" arguments="{languageMenuitem: languageMenu.0}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else if="{languageMenu -> f:count()} > 2">
            <ul class="languagemenu">
                <f:for each="{languageMenu}" as="menuItem">
                    <f:if condition="{menuItem.current}">
                        <f:then>
                            <li class="languagemenu-item current">
                                {menuItem.label}
                            </li>
                        </f:then>
                        <f:else>
                            <li class="languagemenu-item">
                                <a href="{menuItem.url}">{menuItem.label}</a>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>
        </f:else>
        <f:else>
            &nbsp;
        </f:else>
    </f:if>
</v:page.languageMenu>

<f:section name="language-link">
    <a href="{languageMenuitem.url}" class="mdl-button mdl-js-button language-link">{languageMenuitem.label}</a>
</f:section>