<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">


<v:menu pageUid="{mainnavigation_rootPage}" useShortcutData="true" classHasSubpages="has-sub" classCurrent="current">
  <nav class="mdl-navigation">
    <f:for each="{menu}" as="item">

      <div class="mdl-navigation--item {item.class}">
        <f:render section="link" arguments="{item: item}" />


        <v:menu pageUid="{item.uid}" class="sub" as="submenu" classCurrent="mdl-navigation__link--current">
          <ul class="sub">
            <f:for each="{submenu}" as="submenuitem">
              <li>
                <f:render section="link" arguments="{item: submenuitem}" />
              </li>
            </f:for>
          </ul>

        </v:menu>

      </div>
    </f:for>

    <f:if condition="{position} == 'header'">
      <f:render partial="Section/Navigation/Language" />
    </f:if>
  </nav>
</v:menu>

<f:section name="link">
  <a class="mdl-navigation__link{f:if(condition:'{item.current}', then:' mdl-navigation__link--current')}" href="{item.link}" title="{item.title}">{item.linktext}</a>
</f:section>


</html>