<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">
<f:spaceless>

  <v:page.languageMenu
    defaultIsoFlag="de"
    defaultLanguageLabel="Deutsch"
    hideNotTranslated="true"
    configuration="{forceAbsoluteUrl: 1}">

    <f:for each="{languageMenu}" as="menuItem" iteration="i">

      <link rel="alternate" href="{menuItem.url}" hreflang="{settings.language.{i.index}}" />

      <f:if condition="{settings.language.{i.index}} == en">
        <f:comment>Set English as x-default</f:comment>
        <link rel="alternate" href="{menuItem.url}" hreflang="x-default" />
      </f:if>

    </f:for>
  </v:page.languageMenu>


</f:spaceless>
</html>
