<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:comment><!--Root element of PhotoSwipe. Must have class pswp. --></f:comment>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <f:comment><!--Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). --></f:comment>
    <div class="pswp__bg"></div>

    <f:comment><!--Slides wrapper with overflow:hidden. --></f:comment>
    <div class="pswp__scroll-wrap">

      <f:comment><!--
        Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on.
    --></f:comment>
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <f:comment><!--Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. --></f:comment>
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">

          <f:comment><!-- Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>
          </f:comment>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <f:comment><!--Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR --></f:comment>
          <f:comment><!--element will get class pswp__preloader--active when preloader is running --></f:comment>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

      </div>

    </div>

  </div>


</html>