<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">

<picture class="{class}">
  <f:comment><!-- desktop --></f:comment>
  <source
    media="(min-width: 840px)"
    srcset="{f:uri.image(image: '{image}', cropVariant: 'desktop', maxWidth: 1920)}"
  >

  <f:comment><!-- tablet --></f:comment>
  <source
    media="(min-width: 480px)"
    srcset="{f:uri.image(image: '{image}', cropVariant: 'tablet', maxWidth: 839)}"
  >

  <f:comment><!-- phone --></f:comment>
  <source
    srcset="{f:uri.image(image: '{image}', cropVariant: 'phone', maxWidth: 479)}"
  >

  <img src="{f:uri.image(image: '{image}', cropVariant: 'desktop', maxWidth: 1920)}" alt="{alt}" class="{class}" />
</picture>
  
 </html>