<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">


<v:page.header>
  <f:render partial="Assets/TitleTag" arguments="{title: data.title}"/>
</v:page.header>


<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button layout-<f:render section='Template' />{f:if(condition:'{heroMedia}', then:' layout-withHero')}">

  <f:render
    partial="Section/Header"
    arguments="{title: title, logo: logo, mainnavigation_rootPage: mainnavigation_rootPage}"
  />

  <div class="mdl-layout__content">

    <main>
      <f:render partial="Section/Hero"  arguments="{_all}"/>
      <section id="content">
        <f:render section="Main" />
      </section>
    </main>

    <f:render
      partial="Section/Footer"
      arguments="{title: title, footer: footer, footernavigation_rootPage: footernavigation_rootPage}"
    />
  </div>


</div>

<f:render partial="Assets/Photoswipe"/>


</html>