<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">

  <div class="mdl-logo">{v:site.name()}</div>
  <v:page.menu.directory class="mdl-mini-footer__link-list" pages="{footernavigation_rootPage}"></v:page.menu.directory>

  </div>
</footer>
