<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<header class="mdl-layout__header mdl-layout__header--scroll">

  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title"><f:link.typolink parameter="{mainnavigation_rootPage}">{v:site.name()}</f:link.typolink></span>
    <div class="mdl-layout-spacer"></div>
    <f:render partial="Section/Navigation/Main" arguments="{mainnavigation_rootPage: mainnavigation_rootPage, position: 'header'}" />

  </div>
</header>

<div class="mdl-layout__drawer mdl-layout--no-desktop-drawer-button">
  <span class="mdl-layout__title"><f:link.typolink parameter="{mainnavigation_rootPage}">{v:site.name()}</f:link.typolink></span>
  <f:render partial="Section/Navigation/Main" arguments="{mainnavigation_rootPage: mainnavigation_rootPage, position: 'drawer'}" />
</div>


</html>
