<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">


<f:if condition="{heroMedia.0}">
  <section class="hero">

    <f:comment><!-- image --></f:comment>
    <f:if condition="{heroMedia.0.originalFile.properties.type} == 2">
      <f:render partial="Assets/PictureSourceset" arguments="{image: heroMedia.0, alt: 'Hero', class: 'hero-media hero-image'}"/>
    </f:if>

    <f:comment><!-- video --></f:comment>
    <f:if condition="{heroMedia.0.originalFile.properties.type} == 4">
      <f:media file="{heroMedia.0}" additionalConfig="{loop: '1', autoplay: '1', controls: '0', muted: '1', playsinline: '1'}" class="hero-media hero-video"/>
    </f:if>
  </section>
</f:if>




 </html>