<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.identifier}">
    <div class="form-group{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}
                {f:if(condition: '{element.properties.containerClassAttribute} == input || textarea', then: ' mdl-textfield mdl-js-textfield')}
                ">
		<f:if condition="{doNotShowLabel} != 1">
            <label class="control-label 
                          {f:if(condition: '{element.properties.containerClassAttribute} == input || textarea', then: ' mdl-textfield__label')}" 
                          for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
        </f:if>
		<div class="{element.properties.containerClassAttribute}">
			<f:format.raw>
				{elementContent}
				<f:if condition="{validationResults.flattenedErrors}">
					<span class="error help-block {f:if(condition: '{element.properties.containerClassAttribute} == input || textarea', then: ' mdl-textfield__error')}" role="alert">
						<f:for each="{validationResults.errors}" as="error">
							{formvh:translateElementError(element: element, code: error.code, arguments: error.arguments, defaultValue: error.message)}
							<br />
						</f:for>
					</span>
				</f:if>
			</f:format.raw>
			<f:if condition="{element.properties.elementDescription}">
				<span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
			</f:if>
		</div>
	</div>
</f:form.validationResults>
</html>
