<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{bullets}">
 <ul class="ce-bullets mdl-list">
  <f:for each="{bullets}" as="bullet">
   <li class="mdl-list__item">{bullet}</li>
  </f:for>
 </ul>
</f:if>

</html>