.mdl-layout {
  will-change:opacity;
  transition: $pswp__show-hide-transition-duration filter cubic-bezier(.4,0,.22,1);
}


.pswp {
  video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.pswp__ui .pswp__top-bar {
  background-color: transparent;

  .pswp__button {
    background-color: rgba(0,0,0,0.3);
  }

}

.pswp__img, .pswp_html-wrap {
  box-shadow: 0 17px 17px rgba(0,0,0,.15), 0 27px 55px rgba(0,0,0,.3);
}


.pswp--zoom-allowed .pswp__img {
  cursor: default !important;
}


.pswp_html-wrap {
  @include set-responsive-margin-space(margin);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;

}

